.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #01424E;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links:hover {
    color: #FF6161;
}

.contact-btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #FF6161;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: #FF3B3B;
}

.containerr{
    display: flex;
    max-width: 
1112px;
width: 100%;
margin: 0 auto;
}
.contact-container {
    display: flex;
    padding: 40px;
    color: white;
    background-color: #01424E;
}

.contact-info {
    flex: 1;
    padding-right: 40px;
}

.contact-info h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 1.5rem;
    color: #FF6161;
    margin-bottom: 20px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact-info li span {
    font-size: 1.8rem;
    margin-right: 10px;
}

.contact-form {
    flex: 1;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    background-color: #002C35;
    border: none;
    border-radius: 8px;
    padding: 15px;
    font-size: 1rem;
    margin-bottom: 15px;
    color: white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #99A9AF;
}

.contact-form button {
    background-color: #FF6161;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #FF3B3B;
}